/* Error: The target selector was not found.
 * Use "@extend .no-border-button !optional" to avoid this error.
 *   ,
 * 6 |     @extend .no-border-button;
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   Feedback.scss 6:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .no-border-button !optional" to avoid this error.\a   \2577 \a 6 \2502      @extend .no-border-button;\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   Feedback.scss 6:5  root stylesheet';
}
