@use '../App.module';

.MuiSnackbar-root {
    opacity: 0.9;
    transition: translate 0.2s;

    .MuiPaper-root {
        justify-content: center;
        letter-spacing: 0.03rem;
    }

    .MuiAlert-colorSuccess {
        background: App.$text-color;
    }

    .MuiAlert-message {
        white-space: pre-wrap;
    }
}
