@use '../App.module';

.landing-section {
    #version-banner-div {
        margin-top: 1rem;
        background-color: rgba(App.$primary-color, .6);
        width: max-content;
        padding: 0 0.3rem;
        border-radius: 2px;

        #version-banner-h3 {
            color: white;
            font-size: 0.6rem;
            letter-spacing: 0.2rem;
            padding: 0;
            font-weight: 900;
        }
    }
}