.MuiSvgIcon-root.info-icon {
    color: var(--info-icon);
    scale: 0.7;
    transition: all 0.2s;
    translate: 0% -50%;
    cursor: pointer;

    &:hover {
        color: var(--text-color);
    }
}

.control-container-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

#comparison-demo .MuiSvgIcon-root.info-icon {
    translate: 0% -15%;
}