@use '../buttons/buttons';
@use '../App.module';

.select-screenshot-area-dialog {
    background: rgb(0 0 0 / 0.6);
    color: rgb(255 255 255 / 0.9);

    h2 {
        line-height: 1.4rem !important;
        color: rgb(255 255 255 / 0.9);
        margin-bottom: 1rem !important;
    }

    p {
        margin: 0;
        text-align: start;
    }

    .buttons {
        @extend .flex-display;
        gap: 1.0rem;

        width: 28ch;
        margin-top: 1rem;

        .cancel-button {
            border-color: var(--legend-border);

            &:hover {
                border-color: var(--input-border);
            }
        }

        .cancel-button, .take-screenshot-button {
            @extend .button;
            flex: 1 1;
            background: transparent;
            color: rgb(255 255 255 / 0.9);
            transition: all 0.2s;

            &:hover {
                background: rgba(255 255 255 / 0.2);
                color: white;
            }
        }

        .take-screenshot-button {
            border-color: App.$primary-color-border-hover;

            &:hover {
                background: rgba(255 255 255 / 0.2);
                border-color: App.$primary-color-medium;
            }
        }
    }
}