@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$main-max-width: 1200px;

$canvas-height: 21vw;
$canvas-width: 1.35 * $canvas-height;
$curve-padding-factor: 0.04;

$small-screen-limit: 700px; // Mobile site for widths below this

$side-padding: 10rem;
$side-padding-narrow: 5vw;

$def-control-width: 27rem;
$vert-container-padding: 1.2rem;
$horiz-container-padding: 1.8rem;

$primary-color-dark: #004c93;
$primary-color: #006fd5;
$primary-color-medium: #2699ff;
$primary-color-medium-light: #63b7ff;
$primary-color-light: #b9e0ff;

$primary-color-border: #1976d280;
$primary-color-border-hover: #1976d2;
$secondary-color: orange;

:export {
  #{'primaryColor'}: #{$primary-color};
  #{'primaryColorLight'}: #{$primary-color-light};
  #{'primaryColorMedium'}: #{$primary-color-medium};
}

* {
  // border: 1px solid green;
  box-sizing: border-box;
}

h1 {
  margin-top: 3.5rem;
  font-weight: 900;
  font-size: 3rem;
  font-family: Inter, sans-serif;
  width: fit-content;
  align-self: center;
  position: relative;

  &:hover .section-hash-span, .section-hash-span:hover {
    opacity: 1;
  }

  .section-hash-span {
    position: absolute;
    color: $primary-color-medium-light;
    translate: -1.2ch 0;
    opacity: 0;
    transition: all 0.2s;
    cursor: pointer;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0.2rem;

    &:hover {
      color: $primary-color-medium;
    }

    &:active {
      color: $primary-color;
    }
  }
}

h2 {
  letter-spacing: -0.07rem;
  color: var(--text-color-light);
  text-transform: initial;
}

h3 {
  line-height: 0;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-size: 0.6rem;
  font-weight: 700;
}

html {
  --text-color: #3d3d3d;
  --text-color-light: #575757;
  --legend-border: #a8a8a8;
  --button-border: #7a7a7a;
  --light-gray: #e8e8e8;
  --button-active: #d3d3d3;
  --input-border: #c3c3c3;

  --primary-color: $primary-color;
  --primary-color-medium: #2699ff;
  --primary-color-light: $primary-color-light;
}

@media (max-width: 800px) {
  #root {
    width: fit-content !important;

    #main {
      width: fit-content !important;

      #encoding-demo {
        width: fit-content;
      }
    }
  }
}

body {
  &.modal-open {
    overflow: hidden;
  }

  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  font-family: Inter, sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}

#main, .link-container, .tabcontent {
  max-width: $main-max-width;
}

@media (max-width: 1200px) {
  #main, .tabcontent {
    padding: 0 $side-padding-narrow !important;
  }
}

.charts {
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  gap: 2.0rem;

  // TODO: Implement! Hype!
  &.paper-mode {
    font-family: "Times New Roman", Times, serif;
  }

  &#demo2-charts {
    width: 100%;

    .chart, .chart .canvas-container, .chart .canvas-container .canvas-wrapper {
      width: 100%;
    }

    .canvas-wrapper {
      grid-template-columns: min-content auto min-content min-content !important;
    }
  }

  .chart {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0;
    align-self: flex-start;

    .chartitle {
      margin: 0.5rem;
      white-space: nowrap;
    }

    .canvas-container {
      p {
        line-height: 0;
        margin-top: 2.0rem;
      }

      text-transform: uppercase;
      font-size: 1rem;
      gap: 0;
      justify-content: center;
      align-items: flex-start;
      display: flex;
      flex-direction: row;

      .canvas-wrapper {
        display: grid;
        grid-auto-rows: auto;
        gap: 0;

        h2 {
          grid-column: 3;
          grid-row: 1;
          color: var(--text-color-light);
          margin: 1rem 0 0.5rem;
          text-transform: initial;

          &.paper-mode {
            font-weight: 900;
          }
        }

        .y-axis-label {
          width: fit-content;
          height: fit-content;
          writing-mode: tb;
          rotate: 180deg;
          grid-row: 2;
          grid-column: 1;
          align-self: center;
        }

        .chart-x-axis-name, .y-axis-label {
          font-size: 0.7rem;
          letter-spacing: 0.09rem;
        }

        &#left-canvas {
          grid-template-columns: auto auto auto;
        }

        &#right-canvas {
          grid-template-columns: auto auto auto auto;

          .chartYTicks {
            grid-column: 1;
          }

          canvas, h2, .chart-x-axis-name, .chartXTicks {
            grid-column: 2;
          }

          .y-axis-label {
            grid-column: 4;
            grid-row: 2;
          }
        }

        canvas {
          grid-column: 3;
          grid-row: 2;
          height: $canvas-height;
          width: $canvas-width;
          border: 1px solid black;

          &#demo2-canvas {
            width: 100%;
          }
        }

        .x-tick-mark-label, .y-tick-mark-label {
          font-family: Inter, sans-serif;
          font-size: 0.7rem;
        }

        .chartYTicks {
          width: fit-content;
          height: 100%;
          justify-content: space-between;
          align-items: flex-end;
          display: flex;
          flex-direction: column-reverse;
          grid-column: 2;
          // Create a small (0.4rem, hard-coded) offset to make ticks align with curve padding. If we change tick
          // font/size, we might need to change here as well!
          padding: calc($canvas-height * $curve-padding-factor - 0.4rem) 0;
          grid-row: 2;

          &#right-axis {
            grid-column: 3;
            align-items: flex-start;
          }

          .y-tick-mark {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            width: fit-content;
            gap: 3px;

            .y-tick-line {
              margin: 0;
              border-top: 1px solid black;
              height: 1px;
              width: 5px;
            }
          }
        }

        .chartXTicks {
          width: 100%;
          height: fit-content;
          display: flex;
          justify-content: space-between;
          padding: 0 $canvas-height * $curve-padding-factor;
          grid-column: 3;

          .x-tick-mark {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            height: fit-content;

            .x-tick-line {
              margin: 0;
              border-left: 1px solid black;
              height: 5px;
              width: 1px;
            }

            .x-tick-mark-label {
              top: 0.3rem;
              position: absolute;
            }
          }
        }

        .chart-x-axis-name {
          grid-column: 3;
        }
      }
    }
  }
}

.encoder-switch {
  p {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: inherit !important;
    margin: 0 !important;
    text-transform: uppercase;

    &.small {
      font-size: 0.6rem;
      letter-spacing: 0.02rem;
      font-weight: 700;
    }
  }

  .MuiSwitch-root {
    margin: 0;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  gap: 0.5rem;
  grid-column: 2;

  .encoding-label {
    transition: all 0.2s;

    &.checked {
      opacity: 1;
    }

    &.unchecked {
      opacity: 0.5;
    }
  }
}

.chart-sub-control {
  padding: 0.5rem 1rem;
}

input[type="number"] {
  border-radius: 5px;
  border: 1px solid var(--input-border);
  padding: 0.1rem 0.2rem;
}

.MuiSlider-thumb {
  width: 17px !important;
  height: 17px !important;
}

/* HEADER AND FOOTER */

.footer {
  bottom: 0;
  background-color: var(--text-color);
  color: white;
  text-align: left;
  width: 100%;
  padding: 14px 50px;
}

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh; /* full viewport height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), var(--text-color));

  * {
    padding: 0 1rem;
  }

  img {
    max-width: 17rem; /* adjust size as necessary */
    height: auto;
    margin-bottom: 5px; /* space between logo and text */
    filter: brightness(0) invert(1);
  }

  p {
    color: white;
    max-width: 28rem;

    &.size-warning-p {
      display: none;

      @media (max-width: $small-screen-limit) {
        display: initial;
      }
    }
  }
}

// Scroll-to-top button
.MuiFab-extended {
  padding: 1.2rem !important;
  border-radius: 50% !important;
  position: fixed !important;
  bottom: 2rem;
  right: 2rem;
  font-size: 0.8rem !important;
  letter-spacing: 0.02rem !important;
  font-weight: 700 !important;
  transition: all 0.5s !important;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12) !important;
  opacity: 0.85;
  height: 2.5rem !important;
  width: 2.5rem !important;
  background-color: $primary-color;

  &.disabled {
    pointer-events: none;
    opacity: 0;
  }
}

/*TEXT TABS UNDER THE DEMO*/

.tabcontent {
  background-color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  &#contact {
    display: flex;
    flex-direction: column;
  }

  &#contact.hide {
    display: none;
  }
}

.papers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

.paper-block {
  background-color: var(--light-gray);
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-title {
  margin: 0 0 10px;
}

.paper-description {
  margin: 0 0 15px;
}

.paper-buttons {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

h1 + p {
  margin-top: 0;
}

.footer {
  text-align: center;
}

.footer.hide {
  margin-top: 5rem;
}

.footer #contact-info.hide {
  display: none;
}

/*MOBILE SCREENS*/
@media (max-width: $small-screen-limit) {

  h1 {
    margin: 1rem 0.5rem 0 !important;
    font-size: 2.0rem;

    .section-hash-span {
      padding-top: 0.2rem;
      font-size: 1.7rem;
    }
  }

  .demo-description-p {
    margin: 0;
  }

  #root {
    width: 100% !important;
    font-size: 14px;

    #main {
      width: 100% !important;

      #encoding-demo {
        width: 100%;

        h1 {
          margin-top: 0;
        }
      }

      .chartitle {
        font-size: 1.3rem !important;
      }
    }

    .tabcontent {
      margin-top: 1.5rem;

      .papers-container {
        padding-bottom: 0;
      }

      &#contact p {
        margin-top: 1.0rem;
        margin-bottom: 0;
      }
    }
  }

  // Scroll-to-top button
  .MuiFab-extended {
    bottom: 6rem;
    right: 1rem;
    scale: 1.3;
  }

  .footer {
    margin-top: -1rem;
    padding: 14px 2rem 6rem;
  }
}