@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$canvas-height: 21vw;
$canvas-width: 1.35 * $canvas-height;
$curve-padding-factor: 0.04;

$small-screen-limit: 700px; // Mobile site for widths below this

$side-padding: 10rem;
$side-padding-narrow: 5vw;

$def-control-width: 27rem;
$vert-container-padding: 1.2rem;
$horiz-container-padding: 1.8rem;

$primary-color: #006fd5;
$primary-color-medium: #2699ff;
$primary-color-light: #b9e0ff;

:export {
    #{'primaryColor'}: #{$primary-color};
    #{'primaryColorLight'}: #{$primary-color-light};
    #{'primaryColorMedium'}: #{$primary-color-medium};
}

* {
  // border: 1px solid green;
  box-sizing: border-box;
}

h1 {
  margin-top: 3.5rem;
  font-weight: 900;
  font-size: 3rem;
  font-family: Inter, sans-serif;
}

h2 {
  letter-spacing: -0.07rem;
  color: var(--text-color-light);
  text-transform: initial;
}

h3 {
  line-height: 0;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-size: 0.6rem;
  font-weight: 700;
}

html {
  --text-color: #3d3d3d;
  --text-color-light: #575757;
  --legend-border: #a8a8a8;
  --button-border: #7a7a7a;
  --light-gray: #e8e8e8;
  --button-active: #d3d3d3;
  --input-border: #c3c3c3;

  --primary-color: $primary-color;
  --primary-color-medium: #2699ff;
  --primary-color-light: $primary-color-light;
}

@media (max-width: 800px) {
  #root {
    width: fit-content !important;

    #main {
      width: fit-content !important;

      #encoding-demo-div {
        width: fit-content;
      }
    }
  }
}

body {
  &.modal-open {
    overflow: hidden;
  }

  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  font-family: Inter, sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 0 $side-padding;
  width: 100%;
}

@media (max-width: 1200px) {
  #main, .tabcontent {
    padding: 0 $side-padding-narrow !important;
  }
}

.charts {
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  gap: 2.0rem;

  // TODO: Implement! Hype!
  &.paper-mode {
    font-family: "Times New Roman", Times, serif;
  }

  &#demo2-charts {
    width: 100%;

    .chart, .chart .canvas-container, .chart .canvas-container .canvas-wrapper {
      width: 100%;
    }

    .canvas-wrapper {
      grid-template-columns: min-content auto min-content min-content !important;
    }
  }

  .chart {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0;
    align-self: flex-start;

    .chartitle {
      margin: 0.5rem;
      white-space: nowrap;
    }

    .canvas-container {
      p {
        line-height: 0;
        margin-top: 2.0rem;
      }

      text-transform: uppercase;
      font-size: 1rem;
      gap: 0;
      justify-content: center;
      align-items: flex-start;
      display: flex;
      flex-direction: row;

      .canvas-wrapper {
        display: grid;
        grid-auto-rows: auto;
        gap: 0;

        h2 {
          grid-column: 3;
          grid-row: 1;
          color: var(--text-color-light);
          margin: 1rem 0 0.5rem;
          text-transform: initial;

          &.paper-mode {
            font-weight: 900;
          }
        }

        .y-axis-label {
          width: fit-content;
          height: fit-content;
          writing-mode: tb;
          rotate: 180deg;
          grid-row: 2;
          grid-column: 1;
          align-self: center;
        }

        .chart-x-axis-name, .y-axis-label {
          font-size: 0.7rem;
          letter-spacing: 0.09rem;
        }

        &#left-canvas {
          grid-template-columns: auto auto auto;
        }

        &#right-canvas {
          grid-template-columns: auto auto auto auto;

          .chartYTicks {
            grid-column: 1;
          }

          canvas, h2, .chart-x-axis-name, .chartXTicks {
            grid-column: 2;
          }

          .y-axis-label {
            grid-column: 4;
            grid-row: 2;
          }
        }

        canvas {
          grid-column: 3;
          grid-row: 2;
          height: $canvas-height;
          width: $canvas-width;
          border: 1px solid black;

          &#demo2-canvas {
            width: 100%;
          }
        }

        .x-tick-mark-label, .y-tick-mark-label {
          font-family: Inter, sans-serif;
          font-size: 0.7rem;
        }

        .chartYTicks {
          width: fit-content;
          height: 100%;
          justify-content: space-between;
          align-items: flex-end;
          display: flex;
          flex-direction: column-reverse;
          grid-column: 2;
          // Create a small (0.4rem, hard-coded) offset to make ticks align with curve padding. If we change tick
          // font/size, we might need to change here as well!
          padding: calc($canvas-height * $curve-padding-factor - 0.4rem) 0;
          grid-row: 2;

          &#right-axis {
            grid-column: 3;
            align-items: flex-start;
          }

          .y-tick-mark {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            width: fit-content;
            gap: 3px;

            .y-tick-line {
              margin: 0;
              border-top: 1px solid black;
              height: 1px;
              width: 5px;
            }
          }
        }

        .chartXTicks {
          width: 100%;
          height: fit-content;
          display: flex;
          justify-content: space-between;
          padding: 0 $canvas-height * $curve-padding-factor;
          grid-column: 3;

          .x-tick-mark {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            height: fit-content;

            .x-tick-line {
              margin: 0;
              border-left: 1px solid black;
              height: 5px;
              width: 1px;
            }

            .x-tick-mark-label {
              top: 0.3rem;
              position: absolute;
            }
          }
        }

        .chart-x-axis-name {
          grid-column: 3;
        }
      }
    }
  }
}

.encoder-switch {
  p {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: inherit !important;
    margin: 0 !important;
    text-transform: uppercase;

    &.small {
        font-size: 0.6rem;
        letter-spacing: 0.02rem;
        font-weight: 700;
    }
  }

  .MuiSwitch-root {
    margin: 0;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  gap: 0.5rem;
  grid-column: 2;

  .encoding-label {
    transition: all 0.2s;

    &.checked {
      opacity: 1;
    }

    &.unchecked {
      opacity: 0.5;
    }
  }
}

.chart-sub-control {
  padding: 0.5rem 1rem;
}

.button {
  padding: 0 0.5rem;
  height: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  background-color: white;
  border: 2px solid var(--text-color-light);
  border-radius: 6px;
  transition: all 0.2s;
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--text-color-light);

  &:hover {
    background-color: var(--light-gray);
    cursor: pointer;
  }

  &:active {
    background-color: var(--button-active);
  }
}

input[type="number"] {
  border-radius: 5px;
  border: 1px solid var(--input-border);
  padding: 0.1rem 0.2rem;
}

.controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  --gap: 20px;
  gap: var(--gap);
  // overflow-x: scroll;

  #sfcrangecontrol {
    flex: 1 1 7rem;

    .text-controls {
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      input {
        width: 15ch;
      }
    }
  }

  #process-container {
    height: fit-content;
    flex: none;

    h3 {
      margin-bottom: initial;
    }

    .signals-grid {
      width: 100%;
      display: grid;
      grid-template-columns: auto repeat(2, min-content);
      gap: 0.2rem;
      grid-auto-rows: auto;

      .MuiDivider-root {
        grid-column: 1 / 4;
        height: 1.0rem;

        #sfc-header {
          margin: 0;
          line-height: initial;
          padding: 0.1rem 0 0;
        }
      }

      .signal-cell {
        display: flex;
        align-items: center;
        width: 100%;
        height: fit-content;

        .color-line {
          display: flex;
          width: 32px;
          max-width: 32px;
          height: 4px;
          padding: 0;
          margin-right: 3px;
        }

        .signal-name {
          font-size: 0.9rem;
          padding-right: 2rem;
          max-width: 22ch;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .signal-label {
        grid-column: 1;
      }

      .offset-label {
        grid-column: 2;
      }

      .scale-label {
        grid-column: 3;
      }

      .encoder-label {
        margin-top: 0.7rem !important;
        align-items: flex-start;
        padding-top: 0.2rem;
      }

      .encoder-switch {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      .bits-label {
        text-align: center;
      }

      span.bits-label, span.show-transforms-label, span.encoder-label {
        grid-column: 1;
        text-align: left;
        padding-top: 0.2rem;
      }

      label.bits-label, div.show-transforms-label, .encoder-switch {
        grid-column: 2;
        text-align: left;
      }

      .bits-label, .show-transforms-label, .encoder-label{
        min-height: 1.3rem;
      }

      div.show-transforms-label {
        display: flex;
        justify-content: left;
        width: 100%;
        pointer-events: none;
        margin-left: -0.2rem;

        .MuiButtonBase-root {
          aspect-ratio: 1;
          height: fit-content;
          width: fit-content;
          pointer-events: auto;
        }
      }

      .variant-full.min-sfc-label {
        margin-top: 0.7rem;
      }

      span.bits-label {
        padding-top: 0.2rem;
      }

      span.min-sfc-label, span.max-sfc-label {
        grid-column: 1;
        text-align: left;
        display: flex;
        align-items: center;
      }

      label.min-sfc-label, label.max-sfc-label {
        grid-column: 2 / 4;
        display: flex;

        input {
          width: 15ch;
        }
      }

      #sfc-header {
        margin-top: 1.7rem;
        grid-column: 1 / 4;
      }

      input {
        width: 9ch;
        margin: 0 0.5rem;
      }

      .empty-row {
        content: ' ';
        grid-column: 1 / 4;
      }
    }

    // TODO: Refactor into generic outlined, blue-border button
    #reset-button {
      margin-top: 1rem;
      grid-column: 1 / 4;
      width: fit-content;
      justify-self: center;
      border-width: 2px;
      border-radius: 6px;
      color: var(--text-color-light);
      font-weight: 700;
      font-size: 0.6rem;
      letter-spacing: 0.02rem;
      transition: all 0.2s;

      &.Mui-disabled {
        color: var(--button-active);
      }
    }
  }

  .vert-control-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: var(--gap);

    &:nth-of-type(2) {
      height: 100%;
      justify-content: flex-start;
      width: fit-content;
    }

    .control-row {
      display: flex;
      gap: var(--gap);
      width: 100%;
      justify-content: flex-end;

      #range-container {
        height: fit-content;
        flex: 1 1 50rem;
        max-width: none;

        .input-label {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }

    @media (max-width: 1080px) {
      .file-container, .position-container {
        width: 100% !important;
        border-radius: 10px;
        border: 0 solid black;
        box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px 1px;
        padding: 1.2rem 1.8rem;
      }

      .file-container {
        order: 2;
      }

      .control-row {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
      }

      .control-container {
        max-height: fit-content;
      }

      #range-container, #presets-container {
        max-width: 100%;
        width: 100%;
      }

      #presets-container {
        width: fit-content;
      }

      #first-control-row {
        flex-direction: column !important;
        border: none;
        padding: 0;
        box-shadow: none;
      }
    }

    #first-control-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: initial;
      gap: var(--gap);

      .file-container {
        width: 10rem;
      }

      .position-container {
        flex: 1 1 auto;
        width: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.control-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 0 solid black;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px 1px;
  padding: $vert-container-padding $horiz-container-padding;
  flex: 1 1 $def-control-width;
  justify-content: center;

  .input-label {
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
  }

  h3 {
    margin-top: 0;
    padding-bottom: 1rem;
    margin-bottom: auto;
  }

  > :last-child {
    margin-bottom: auto;
  }

  @media (max-width: 1280px) {
    .text-controls {
      align-items: flex-end;
    }
  }

  .text-controls {
    display: flex;
    column-gap: 1rem;
    row-gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    input {
      width: 8ch;
    }
  }
}

.MuiSlider-thumb {
  width: 17px !important;
  height: 17px !important;
}

/* HEADER AND FOOTER */

.footer {
  bottom: 0;
  background-color: var(--text-color);
  color: white;
  text-align: left;
  width: 100%;
  padding: 14px 50px;
}

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh; /* full viewport height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), var(--text-color));

  * {
    padding: 0 1rem;
  }

  img {
    max-width: 17rem; /* adjust size as necessary */
    height: auto;
    margin-bottom: 5px; /* space between logo and text */
    filter: brightness(0) invert(1);
  }

  p {
    color: white;
    max-width: 28rem;

    &.size-warning-p {
        display: none;

        @media (max-width: $small-screen-limit) {
            display: initial;
        }
    }
  }
}

// Scroll-to-top button
.MuiFab-extended {
  padding: 1.2rem !important;
  border-radius: 50% !important;
  position: fixed !important;
  bottom: 2rem;
  right: 2rem;
  font-size: 0.8rem !important;
  letter-spacing: 0.02rem !important;
  font-weight: 700 !important;
  transition: all 0.5s !important;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12) !important;
  opacity: 0.85;
  height: 2.5rem !important;
  width: 2.5rem !important;

  &.disabled {
    pointer-events: none;
    opacity: 0;
  }
}

/*TEXT TABS UNDER THE DEMO*/

.tabcontent {
  background-color: white;
  margin-top: 2rem;
  padding: 0 $side-padding;

  &#contact.hide {
    display: none;
  }
}

.papers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

.paper-block {
  background-color: var(--light-gray);
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-title {
  margin: 0 0 10px;
}

.paper-description {
  margin: 0 0 15px;
}

.paper-buttons {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

h1 + p {
  margin-top: 0;
}

.footer {
  text-align: center;
}

.footer.hide {
  margin-top: 5rem;
}

.footer #contact-info.hide {
  display: none;
}

/*MOBILE SCREENS*/
@media (max-width: $small-screen-limit) {

  h1 {
    margin-top: 1.0rem;
    margin-bottom: 0 !important;
    font-size: 2.0rem;
  }

  .demo-description-p {
    margin: 0;
  }

  #root {
    width: 100% !important;
    font-size: 14px;

    #main {
      width: 100% !important;

      #encoding-demo-div {
        width: 100%;

        h1 {
          margin-top: 0;
        }
      }

      .chartitle {
        font-size: 1.3rem !important;
      }
    }

    .tabcontent {
      margin-top: 1.5rem;

      .papers-container {
        padding-bottom: 0;
      }

      &#contact p {
        margin-top: 1.0rem;
        margin-bottom: 0;
      }
    }
  }

  // Scroll-to-top button
  .MuiFab-extended {
    bottom: 6rem;
    right: 1rem;
    scale: 1.3;
  }

  .footer {
    margin-top: -1rem;
    padding: 14px 2rem 6rem;
  }
}