@use 'buttons/buttons';
@use 'App.module';

.controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    --gap: 20px;
    gap: var(--gap);

    #sfcrangecontrol {
        flex: 1 1 7rem;

        .text-controls {
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        label {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            input {
                width: 15ch;
            }
        }
    }

    #process-container {
        height: fit-content;
        flex: none;

        h3 {
            margin-bottom: initial;
        }

        .signals-grid {
            width: 100%;
            display: grid;
            grid-template-columns: auto repeat(2, min-content);
            gap: 0.2rem;
            grid-auto-rows: auto;

            .MuiDivider-root {
                grid-column: 1 / 4;
                height: 1.0rem;

                #sfc-header {
                    margin: 0;
                    line-height: initial;
                    padding: 0.1rem 0 0;
                }
            }

            .signal-cell {
                display: flex;
                align-items: center;
                width: 100%;
                height: fit-content;

                .color-line {
                    display: flex;
                    width: 32px;
                    max-width: 32px;
                    height: 4px;
                    padding: 0;
                    margin-right: 3px;
                }

                .signal-name {
                    font-size: 0.9rem;
                    padding-right: 2rem;
                    max-width: 22ch;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .signal-label {
                grid-column: 1;
            }

            .offset-label {
                grid-column: 2;
            }

            .scale-label {
                grid-column: 3;
            }

            .encoder-label {
                margin-top: 0.7rem !important;
                align-items: flex-start;
                padding-top: 0.2rem;
            }

            .encoder-switch {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }

            .bits-label {
                text-align: center;
            }

            span.bits-label, span.show-transforms-label, span.encoder-label {
                grid-column: 1;
                text-align: left;
                padding-top: 0.2rem;
            }

            label.bits-label, div.show-transforms-label, .encoder-switch {
                grid-column: 2;
                text-align: left;
            }

            .bits-label, .show-transforms-label, .encoder-label{
                min-height: 1.3rem;
            }

            div.show-transforms-label {
                display: flex;
                justify-content: left;
                width: 100%;
                pointer-events: none;
                margin-left: -0.2rem;

                .MuiButtonBase-root {
                    aspect-ratio: 1;
                    height: fit-content;
                    width: fit-content;
                    pointer-events: auto;
                }
            }

            .variant-full.min-sfc-label {
                margin-top: 0.7rem;
            }

            span.bits-label {
                padding-top: 0.2rem;
            }

            span.min-sfc-label, span.max-sfc-label {
                grid-column: 1;
                text-align: left;
                display: flex;
                align-items: center;
            }

            label.min-sfc-label, label.max-sfc-label {
                grid-column: 2 / 4;
                display: flex;

                input {
                    width: 15ch;
                }
            }

            #sfc-header {
                margin-top: 1.7rem;
                grid-column: 1 / 4;
            }

            input {
                width: 9ch;
                margin: 0 0.5rem;
            }

            .empty-row {
                content: ' ';
                grid-column: 1 / 4;
            }
        }

        #reset-button {
            @extend .blue-border-button;
            margin-top: 1rem;
            grid-column: 1 / 4;
            width: fit-content;
            justify-self: center;
            padding: 0 5.0rem;

            &.Mui-disabled {
                color: var(--button-active);
            }
        }
    }

    .vert-control-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: var(--gap);

        &:nth-of-type(2) {
            height: 100%;
            justify-content: flex-start;
            width: fit-content;
        }

        .control-row {
            display: flex;
            gap: var(--gap);
            width: 100%;
            justify-content: flex-end;

            #range-container {
                height: fit-content;
                flex: 1 1 50rem;
                max-width: none;

                .input-label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }

        @media (max-width: 1080px) {
            .file-container, .position-container {
                width: 100% !important;
                border-radius: 10px;
                border: 0 solid black;
                box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px 1px;
                padding: 1.2rem 1.8rem;
            }

            .file-container {
                order: 2;
            }

            .control-row {
                flex-direction: column;
                max-width: 100%;
                width: 100%;
            }

            .control-container {
                max-height: fit-content;
            }

            #range-container, #presets-container {
                max-width: 100%;
                width: 100%;
            }

            #presets-container {
                width: fit-content;
            }

            #first-control-row {
                flex-direction: column !important;
                border: none;
                padding: 0;
                box-shadow: none;
            }
        }

        #first-control-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex: initial;
            gap: var(--gap);

            .file-container {
                width: 10rem;
            }

            .position-container {
                flex: 1 1 auto;
                width: auto;
                align-items: center;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.control-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 0 solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px 1px;
    padding: App.$vert-container-padding App.$horiz-container-padding;
    flex: 1 1 App.$def-control-width;
    justify-content: center;

    .input-label {
        text-transform: uppercase;
        font-size: 0.6rem;
        letter-spacing: 0.02rem;
        font-weight: 700;
    }

    h3 {
        margin-top: 0;
        padding-bottom: 1rem;
        margin-bottom: auto;
    }

    > :last-child {
        margin-bottom: auto;
    }

    @media (max-width: 1280px) {
        .text-controls {
            align-items: flex-end;
        }
    }

    .text-controls {
        display: flex;
        column-gap: 1rem;
        row-gap: 0.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;

        input {
            width: 8ch;
        }
    }
}