@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:export {
  primaryColor: #006fd5;
  primaryColorLight: #b9e0ff;
  primaryColorMedium: #2699ff;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 3.5rem;
  font-weight: 900;
  font-size: 3rem;
  font-family: Inter, sans-serif;
  width: fit-content;
  align-self: center;
  position: relative;
}
h1:hover .section-hash-span, h1 .section-hash-span:hover {
  opacity: 1;
}
h1 .section-hash-span {
  position: absolute;
  color: #63b7ff;
  translate: -1.2ch 0;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 0.2rem;
}
h1 .section-hash-span:hover {
  color: #2699ff;
}
h1 .section-hash-span:active {
  color: #006fd5;
}

h2 {
  letter-spacing: -0.07rem;
  color: var(--text-color-light);
  text-transform: initial;
}

h3 {
  line-height: 0;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-size: 0.6rem;
  font-weight: 700;
}

html {
  --text-color: #3d3d3d;
  --text-color-light: #575757;
  --legend-border: #a8a8a8;
  --button-border: #7a7a7a;
  --light-gray: #e8e8e8;
  --button-active: #d3d3d3;
  --input-border: #c3c3c3;
  --primary-color: $primary-color;
  --primary-color-medium: #2699ff;
  --primary-color-light: $primary-color-light;
}

@media (max-width: 800px) {
  #root {
    width: fit-content !important;
  }
  #root #main {
    width: fit-content !important;
  }
  #root #main #encoding-demo {
    width: fit-content;
  }
}
body {
  width: 100%;
}
body.modal-open {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  font-family: Inter, sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}

#main, .link-container, .tabcontent {
  max-width: 1200px;
}

@media (max-width: 1200px) {
  #main, .tabcontent {
    padding: 0 5vw !important;
  }
}
.charts {
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  gap: 2rem;
}
.charts.paper-mode {
  font-family: "Times New Roman", Times, serif;
}
.charts#demo2-charts {
  width: 100%;
}
.charts#demo2-charts .chart, .charts#demo2-charts .chart .canvas-container, .charts#demo2-charts .chart .canvas-container .canvas-wrapper {
  width: 100%;
}
.charts#demo2-charts .canvas-wrapper {
  grid-template-columns: min-content auto min-content min-content !important;
}
.charts .chart {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 0;
  align-self: flex-start;
}
.charts .chart .chartitle {
  margin: 0.5rem;
  white-space: nowrap;
}
.charts .chart .canvas-container {
  text-transform: uppercase;
  font-size: 1rem;
  gap: 0;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.charts .chart .canvas-container p {
  line-height: 0;
  margin-top: 2rem;
}
.charts .chart .canvas-container .canvas-wrapper {
  display: grid;
  grid-auto-rows: auto;
  gap: 0;
}
.charts .chart .canvas-container .canvas-wrapper h2 {
  grid-column: 3;
  grid-row: 1;
  color: var(--text-color-light);
  margin: 1rem 0 0.5rem;
  text-transform: initial;
}
.charts .chart .canvas-container .canvas-wrapper h2.paper-mode {
  font-weight: 900;
}
.charts .chart .canvas-container .canvas-wrapper .y-axis-label {
  width: fit-content;
  height: fit-content;
  writing-mode: tb;
  rotate: 180deg;
  grid-row: 2;
  grid-column: 1;
  align-self: center;
}
.charts .chart .canvas-container .canvas-wrapper .chart-x-axis-name, .charts .chart .canvas-container .canvas-wrapper .y-axis-label {
  font-size: 0.7rem;
  letter-spacing: 0.09rem;
}
.charts .chart .canvas-container .canvas-wrapper#left-canvas {
  grid-template-columns: auto auto auto;
}
.charts .chart .canvas-container .canvas-wrapper#right-canvas {
  grid-template-columns: auto auto auto auto;
}
.charts .chart .canvas-container .canvas-wrapper#right-canvas .chartYTicks {
  grid-column: 1;
}
.charts .chart .canvas-container .canvas-wrapper#right-canvas canvas, .charts .chart .canvas-container .canvas-wrapper#right-canvas h2, .charts .chart .canvas-container .canvas-wrapper#right-canvas .chart-x-axis-name, .charts .chart .canvas-container .canvas-wrapper#right-canvas .chartXTicks {
  grid-column: 2;
}
.charts .chart .canvas-container .canvas-wrapper#right-canvas .y-axis-label {
  grid-column: 4;
  grid-row: 2;
}
.charts .chart .canvas-container .canvas-wrapper canvas {
  grid-column: 3;
  grid-row: 2;
  height: 21vw;
  width: 28.35vw;
  border: 1px solid black;
}
.charts .chart .canvas-container .canvas-wrapper canvas#demo2-canvas {
  width: 100%;
}
.charts .chart .canvas-container .canvas-wrapper .x-tick-mark-label, .charts .chart .canvas-container .canvas-wrapper .y-tick-mark-label {
  font-family: Inter, sans-serif;
  font-size: 0.7rem;
}
.charts .chart .canvas-container .canvas-wrapper .chartYTicks {
  width: fit-content;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  grid-column: 2;
  padding: calc(0.84vw - 0.4rem) 0;
  grid-row: 2;
}
.charts .chart .canvas-container .canvas-wrapper .chartYTicks#right-axis {
  grid-column: 3;
  align-items: flex-start;
}
.charts .chart .canvas-container .canvas-wrapper .chartYTicks .y-tick-mark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  gap: 3px;
}
.charts .chart .canvas-container .canvas-wrapper .chartYTicks .y-tick-mark .y-tick-line {
  margin: 0;
  border-top: 1px solid black;
  height: 1px;
  width: 5px;
}
.charts .chart .canvas-container .canvas-wrapper .chartXTicks {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 0 0.84vw;
  grid-column: 3;
}
.charts .chart .canvas-container .canvas-wrapper .chartXTicks .x-tick-mark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: fit-content;
}
.charts .chart .canvas-container .canvas-wrapper .chartXTicks .x-tick-mark .x-tick-line {
  margin: 0;
  border-left: 1px solid black;
  height: 5px;
  width: 1px;
}
.charts .chart .canvas-container .canvas-wrapper .chartXTicks .x-tick-mark .x-tick-mark-label {
  top: 0.3rem;
  position: absolute;
}
.charts .chart .canvas-container .canvas-wrapper .chart-x-axis-name {
  grid-column: 3;
}

.encoder-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  gap: 0.5rem;
  grid-column: 2;
}
.encoder-switch p {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit !important;
  margin: 0 !important;
  text-transform: uppercase;
}
.encoder-switch p.small {
  font-size: 0.6rem;
  letter-spacing: 0.02rem;
  font-weight: 700;
}
.encoder-switch .MuiSwitch-root {
  margin: 0;
}
.encoder-switch .encoding-label {
  transition: all 0.2s;
}
.encoder-switch .encoding-label.checked {
  opacity: 1;
}
.encoder-switch .encoding-label.unchecked {
  opacity: 0.5;
}

.chart-sub-control {
  padding: 0.5rem 1rem;
}

input[type=number] {
  border-radius: 5px;
  border: 1px solid var(--input-border);
  padding: 0.1rem 0.2rem;
}

.MuiSlider-thumb {
  width: 17px !important;
  height: 17px !important;
}

/* HEADER AND FOOTER */
.footer {
  bottom: 0;
  background-color: var(--text-color);
  color: white;
  text-align: left;
  width: 100%;
  padding: 14px 50px;
}

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh; /* full viewport height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), var(--text-color));
}
.landing-section * {
  padding: 0 1rem;
}
.landing-section img {
  max-width: 17rem; /* adjust size as necessary */
  height: auto;
  margin-bottom: 5px; /* space between logo and text */
  filter: brightness(0) invert(1);
}
.landing-section p {
  color: white;
  max-width: 28rem;
}
.landing-section p.size-warning-p {
  display: none;
}
@media (max-width: 700px) {
  .landing-section p.size-warning-p {
    display: initial;
  }
}

.MuiFab-extended {
  padding: 1.2rem !important;
  border-radius: 50% !important;
  position: fixed !important;
  bottom: 2rem;
  right: 2rem;
  font-size: 0.8rem !important;
  letter-spacing: 0.02rem !important;
  font-weight: 700 !important;
  transition: all 0.5s !important;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
  opacity: 0.85;
  height: 2.5rem !important;
  width: 2.5rem !important;
}
.MuiFab-extended.disabled {
  pointer-events: none;
  opacity: 0;
}

/*TEXT TABS UNDER THE DEMO*/
.tabcontent {
  background-color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.tabcontent#contact {
  display: flex;
  flex-direction: column;
}
.tabcontent#contact.hide {
  display: none;
}

.papers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

.paper-block {
  background-color: var(--light-gray);
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-title {
  margin: 0 0 10px;
}

.paper-description {
  margin: 0 0 15px;
}

.paper-buttons {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

h1 + p {
  margin-top: 0;
}

.footer {
  text-align: center;
}

.footer.hide {
  margin-top: 5rem;
}

.footer #contact-info.hide {
  display: none;
}

/*MOBILE SCREENS*/
@media (max-width: 700px) {
  h1 {
    margin: 1rem 0.5rem 0 !important;
    font-size: 2rem;
  }
  h1 .section-hash-span {
    padding-top: 0.2rem;
    font-size: 1.7rem;
  }
  .demo-description-p {
    margin: 0;
  }
  #root {
    width: 100% !important;
    font-size: 14px;
  }
  #root #main {
    width: 100% !important;
  }
  #root #main #encoding-demo {
    width: 100%;
  }
  #root #main #encoding-demo h1 {
    margin-top: 0;
  }
  #root #main .chartitle {
    font-size: 1.3rem !important;
  }
  #root .tabcontent {
    margin-top: 1.5rem;
  }
  #root .tabcontent .papers-container {
    padding-bottom: 0;
  }
  #root .tabcontent#contact p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .MuiFab-extended {
    bottom: 6rem;
    right: 1rem;
    scale: 1.3;
  }
  .footer {
    margin-top: -1rem;
    padding: 14px 2rem 6rem;
  }
}
.button-text, .button, .link-button, .no-border-button, .gray-border-button, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .choose-columns-button, .blue-border-button {
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-size: 0.6rem;
  font-weight: 700;
}

.button, .link-button, .no-border-button, .gray-border-button, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .choose-columns-button, .blue-border-button {
  padding: 0 0.5rem;
  height: 1.8rem;
  background-color: white;
  border: 2px solid var(--text-color-light);
  border-radius: 6px;
  transition: all 0.2s;
  color: var(--text-color-light);
}
.button:hover, .link-button:hover, .no-border-button:hover, .gray-border-button:hover, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .choose-columns-button:hover, .blue-border-button:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}
.button:active, .link-button:active, .no-border-button:active, .gray-border-button:active, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .choose-columns-button:active, .blue-border-button:active {
  background-color: var(--button-active);
}

.blue-border-button {
  border-color: rgba(25, 118, 210, 0.5019607843);
}
.blue-border-button:hover {
  border-color: #1976d2;
}

.gray-border-button, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .choose-columns-button {
  border-color: var(--button-active);
}

.no-border-button {
  border-width: 0;
}

.link-button {
  background-color: transparent;
}
.link-button a {
  font-weight: 700;
  color: var(--text-color-light);
}
.link-button:hover:not(:active) a {
  color: #004c93;
}
.link-button:active {
  background-color: initial;
}
.link-button:active a {
  color: #2699ff;
}

#comparison-demo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
#comparison-demo h1 {
  margin-bottom: 0;
}
#comparison-demo #demo2-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#comparison-demo #demo2-controls .control-container {
  padding: 1.2rem;
}
#comparison-demo #demo2-controls .comparison-row-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 1rem;
  flex: none;
  justify-content: normal;
}
#comparison-demo #demo2-controls .comparison-row-div .MuiTypography-root {
  text-transform: uppercase;
  line-height: 0.6rem !important;
  letter-spacing: 0.02rem !important;
  font-size: 0.6rem !important;
  font-weight: 700 !important;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid {
  width: max-content;
  display: grid;
  grid-template-columns: max-content;
  flex: 1 1 fit-content;
  height: 100%;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid .first-buttons-column {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid .first-buttons-column .MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
  padding: 0;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid .first-buttons-column .show-checkbox {
  flex-direction: column;
  align-self: center;
  padding: 0 0 0 1rem;
  margin-top: -0.25rem;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid .first-buttons-column .show-checkbox .MuiButtonBase-root {
  padding: 0;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid .first-buttons-column .delete-row-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid .first-buttons-column .delete-row-button .MuiIconButton-root {
  display: flex;
  margin-bottom: 0;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid .first-buttons-column .delete-row-button .MuiIconButton-root .MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid .file-container {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid .file-container .upload-button-container {
  margin-top: 0;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid #range-container {
  grid-row: 2;
  grid-column: 2;
  box-shadow: none;
  border-radius: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid #range-container .text-controls {
  flex-direction: row;
}
#comparison-demo #demo2-controls .comparison-row-div .left-control-grid #range-container .text-controls label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container {
  display: flex;
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
  gap: 0.5rem;
  width: 39rem;
  border-radius: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: none;
  height: 100%;
  padding: 0 0 0 1.2rem;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container h3 {
  grid-column: 1/3;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid {
  grid-template-columns: 9ch repeat(2, min-content) 1rem min-content min-content auto;
  position: relative;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .offset-label input, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .scale-label input {
  margin: 0.1rem;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .signal-cell {
  grid-column: 1;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .signal-cell .signal-name {
  padding-right: 0.2rem;
  max-width: 15ch;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid span {
  align-self: center;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid span.bits-label, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid span.max-sfc-label, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid span.min-sfc-label {
  margin-right: 0.5rem;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid span.bits-label {
  grid-row: 1;
  grid-column: 5;
  padding-top: 0;
  margin-top: 0;
  text-align: right;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid label.bits-label {
  grid-row: 1;
  grid-column: 6;
  margin-top: 0;
  text-align: left;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid label.bits-label * {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .choose-columns-button {
  white-space: nowrap;
  grid-column: 1/4;
  width: fit-content;
  justify-self: center;
  margin-top: 0.5rem;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid #sfc-header {
  grid-column: 5/7;
  align-self: center;
  margin-top: 0;
  padding: 0;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .MuiDivider-root {
  grid-column: 4;
  height: 100%;
  position: absolute;
  margin-left: 0.5rem;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .min-sfc-label {
  grid-row: 2;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .max-sfc-label {
  grid-row: 3;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid span.max-sfc-label, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid span.min-sfc-label {
  grid-column: 5/6;
  justify-self: flex-end;
  white-space: nowrap;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid label.max-sfc-label, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid label.min-sfc-label {
  grid-column: 6/7;
  width: 14ch;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid label.max-sfc-label *, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid label.min-sfc-label * {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid #reset-button {
  width: min-content;
  margin: auto 0.1rem;
  grid-column: 7;
  grid-row: 2/4;
  justify-self: flex-end;
  height: 100%;
  padding: 5px 15px;
}
@media (max-width: 1200px) {
  #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid #sfc-header {
    grid-column: 5/7;
  }
  #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid label.max-sfc-label, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid label.min-sfc-label {
    grid-column: 6;
  }
  #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid span.max-sfc-label, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid span.min-sfc-label {
    grid-column: 5;
  }
  #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid #reset-button {
    width: 100%;
    margin: 0 0.1rem;
    grid-column: 5/7;
    grid-row: 5/7;
  }
}
#comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid .choose-columns-button span, #comparison-demo #demo2-controls .comparison-row-div #process-container .signals-grid #reset-button span {
  height: 100%;
}
#comparison-demo .global-transform-div {
  width: fit-content;
  flex: none;
  margin-top: -0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0;
  padding: 0.6rem 0.9rem;
}
#comparison-demo .global-transform-div > :last-child {
  margin: 0;
}
#comparison-demo .global-transform-div .encoder-switch {
  margin: 0;
}
#comparison-demo .global-transform-div label.input-label {
  width: 8ch;
}
#comparison-demo .global-transform-div label.input-label * {
  width: 100%;
}

@media (max-width: 1080px) {
  #process-container {
    width: 35rem;
  }
}
@media (max-width: 1200px) {
  #comparison-demo #process-container {
    width: fit-content !important;
  }
  #comparison-demo #process-container .signals-grid {
    grid-template-columns: 9ch repeat(2, min-content) 1rem min-content auto !important;
  }
}
@media (max-width: 700px) {
  #comparison-demo .global-transform-div {
    width: 100%;
  }
  #comparison-demo #demo2-charts {
    flex-direction: column !important;
    width: fit-content;
  }
  #comparison-demo #demo2-charts #demo2-chart .canvas-container {
    flex-direction: column;
    align-items: center;
  }
  #comparison-demo #demo2-charts #demo2-chart .canvas-container .canvas-wrapper .chartitle {
    text-align: center;
    margin: 0 auto 0.5rem;
    grid-column: 1/5;
  }
  #comparison-demo #demo2-charts #demo2-chart .canvas-container .canvas-wrapper#right-canvas {
    grid-template-columns: 13vw 70vw 8vw 5vw !important;
  }
  #comparison-demo #demo2-charts #demo2-chart .canvas-container .canvas-wrapper#right-canvas canvas {
    width: 70vw !important;
    height: 52vw !important;
  }
  #comparison-demo #demo2-charts #demo2-chart .canvas-container .canvas-wrapper#right-canvas .chartYTicks:first-of-type {
    margin: 0;
  }
  #comparison-demo #demo2-charts #demo2-chart .canvas-container .canvas-wrapper#right-canvas .chartYTicks {
    width: 100% !important;
  }
  #comparison-demo #demo2-charts #demo2-chart .canvas-container .canvas-wrapper .x-tick-mark:not(:nth-child(2n+1)) .x-tick-mark-label {
    display: none !important;
  }
  #comparison-demo #demo2-charts #demo2-chart .canvas-container .canvas-wrapper .y-axis-label {
    height: max-content;
  }
  #comparison-demo #demo2-controls .comparison-row-div {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  #comparison-demo #demo2-controls .comparison-row-div .left-control-grid {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  #comparison-demo #demo2-controls .comparison-row-div .left-control-grid .first-buttons-column {
    grid-row: 1;
    gap: 0;
    width: fit-content;
  }
  #comparison-demo #demo2-controls .comparison-row-div .left-control-grid .first-buttons-column .show-checkbox {
    padding: 0;
    margin: 0;
  }
  #comparison-demo #demo2-controls .comparison-row-div .left-control-grid .file-container {
    grid-column: 1/3;
  }
  #comparison-demo #demo2-controls .comparison-row-div .left-control-grid #range-container {
    grid-column: 1/3;
    padding-bottom: 0;
  }
  #comparison-demo #demo2-controls #process-container {
    border: none !important;
    padding: 1rem !important;
    width: 100% !important;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid {
    grid-template-columns: repeat(6, 1fr) !important;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid .choose-columns-button {
    grid-column: 2/6 !important;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid .signal-cell {
    grid-column: 1/3 !important;
    padding-left: 1ch;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid .signal-label {
    grid-column: 1/3;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid .offset-label {
    grid-column: 3/5;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid .scale-label {
    grid-column: 5/7;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid #reset-button {
    margin: 1rem 0 0 0 !important;
    grid-column: 1/7 !important;
    grid-row: unset !important;
    order: 5;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid #sfc-header {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 1rem !important;
    margin-bottom: 0;
    order: 2;
    grid-column: 1/7 !important;
    line-height: 2rem;
    padding-top: 0.5rem !important;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid .min-sfc-label {
    order: 3;
    grid-row: unset !important;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid .max-sfc-label {
    order: 4;
    grid-row: unset !important;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid span.min-sfc-label, #comparison-demo #demo2-controls #process-container .signals-grid span.max-sfc-label {
    grid-column: 1/3 !important;
    justify-self: left !important;
    padding-left: 1ch;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid label.min-sfc-label, #comparison-demo #demo2-controls #process-container .signals-grid label.max-sfc-label {
    grid-column: 4/7 !important;
    justify-self: left !important;
  }
  #comparison-demo #demo2-controls #process-container .signals-grid .MuiDivider-vertical {
    display: none;
  }
}

/*# sourceMappingURL=CspComparisonDemo.css.map */
