@use 'App.module';

#comp-demo-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;

    h1 {
        margin-bottom: 0;
    }

    #demo2-controls {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .control-container {
            padding: 1.2rem;
        }

        .comparison-row-div {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            gap: 1.0rem;
            flex: none;
            justify-content: normal;

            .MuiTypography-root {
                text-transform: uppercase;
                line-height: 0.6rem !important;
                letter-spacing: 0.02rem !important;
                font-size: 0.6rem !important;
                font-weight: 700 !important;
            }

            .left-control-grid {
                width: max-content;
                display: grid;
                grid-template-columns: max-content;
                flex: 1 1 fit-content;
                height: 100%;

                .first-buttons-column {
                    grid-column: 1;
                    grid-row: 1 / 3;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .MuiSvgIcon-root {
                        width: 2.0rem !important;
                        height: 2.0rem !important;
                        padding: 0;
                    }

                    .show-checkbox {
                        flex-direction: column;
                        align-self: center;
                        padding: 0 0 0 1rem;
                        margin-top: -0.25rem;

                        .MuiButtonBase-root {
                            padding: 0;
                        }
                    }

                    .delete-row-button {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .MuiIconButton-root {
                            display: flex;
                            margin-bottom: 0;

                            .MuiSvgIcon-root {
                                width: 2rem !important;
                                height: 2rem !important;
                            }
                        }
                    }
                }

                .file-container {
                    grid-row: 1;
                    grid-column: 2;
                    align-self: center;

                    .upload-button-container {
                        margin-top: 0;
                    }
                }

                #range-container {
                    grid-row: 2;
                    grid-column: 2;
                    box-shadow: none;
                    border-radius: 0;
                    border-top: 1px solid rgba(0 0 0 / 0.15);

                    .text-controls {
                        flex-direction: row;

                        label {
                            display: flex;
                            gap: 0.5rem;
                            align-items: center;
                        }
                    }
                }
            }

            #process-container {
                display: flex;
                justify-content: center;
                margin-right: 0;
                margin-left: 0;
                gap: 0.5rem;
                width: 39rem;
                border-radius: 0;
                border-left: 1px solid rgba(0 0 0 / 0.15);
                box-shadow: none;
                height: 100%;
                padding: 0 0 0 1.2rem;

                h3 {
                    grid-column: 1 / 3;
                }

                .signals-grid {
                    grid-template-columns: 9ch repeat(2, min-content) 1rem min-content min-content auto;
                    position: relative;

                    .offset-label, .scale-label {
                        input {
                            margin: 0.1rem;
                        }
                    }

                    .signal-cell {
                        grid-column: 1;

                        .signal-name {
                            padding-right: 0.2rem;
                            max-width: 15ch;
                        }
                    }

                    span {
                        align-self: center;
                    }

                    span.bits-label, span.max-sfc-label, span.min-sfc-label {
                        margin-right: 0.5rem;
                    }

                    span.bits-label {
                        grid-row:  1;
                        grid-column: 5;
                        padding-top: 0;
                        margin-top: 0;
                        text-align: right;
                    }

                    label.bits-label {
                        grid-row: 1;
                        grid-column: 6;
                        margin-top: 0;
                        text-align: left;

                        * {
                            margin-left: 0;
                            padding-left: 0;
                            margin-right: 0;
                            padding-right: 0;
                        }
                    }

                    .choose-columns-button {
                        border-radius: 6px;
                        color: var(--text-color-light);
                        font-weight: 700;
                        font-size: 0.6rem;
                        letter-spacing: 0.02rem;
                        transition: all 0.2s;
                        white-space: nowrap;
                        grid-column: 1 / 4;
                        border-width: 2px;
                        width: fit-content;
                        justify-self: center;
                        border-color: var(--button-active);
                        margin-top: 0.5rem;
                    }

                    #sfc-header {
                        grid-column: 5 / 7;
                        align-self: center;
                        margin-top: 0;
                        padding: 0;
                    }

                    .MuiDivider-root {
                        grid-column: 4;
                        height: 100%;
                        position: absolute;
                        margin-left: 0.5rem;
                    }

                    .min-sfc-label {
                        grid-row: 2;
                    }

                    .max-sfc-label {
                        grid-row: 3;
                    }

                    span.max-sfc-label, span.min-sfc-label {
                        grid-column: 5 / 6;
                        justify-self: flex-end;
                        white-space: nowrap;
                    }

                    label.max-sfc-label, label.min-sfc-label {
                        grid-column: 6 / 7;
                        width: 14ch;

                        * {
                            width: 100%;
                            margin-left: 0;
                            margin-right: 0;
                        }

                    }

                    #reset-button {
                        width: min-content;
                        margin: auto 0.1rem;
                        grid-column: 7;
                        grid-row: 2 / 4;
                        justify-self: flex-end;
                    }

                    @media (max-width: 1200px) {
                        #sfc-header {
                            grid-column: 5 / 7;
                        }

                        label.max-sfc-label, label.min-sfc-label {
                            grid-column: 6;
                        }

                        span.max-sfc-label, span.min-sfc-label {
                            grid-column: 5;
                        }

                        #reset-button {
                            width: 100%;
                            margin: 0 0.1rem;
                            grid-column: 5 / 7;
                            grid-row: 5 / 7;
                        }
                    }

                    .choose-columns-button, #reset-button {
                        span {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .global-transform-div {
        width: fit-content;
        flex: none;
        margin-top: -0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0;
        padding: 0.6rem 0.9rem;

        & > :last-child {
            margin: 0;
        }

        .encoder-switch {
            margin: 0;
        }

        label.input-label {
            width: 8ch;

            * {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1080px) {
    #process-container {
        width: 35rem;
    }
}

@media (max-width: 1200px) {
    #comp-demo-div {
        #process-container {
            width: fit-content !important;

            .signals-grid {
                grid-template-columns: 9ch repeat(2, min-content) 1rem min-content auto !important;
            }
        }
    }
}

@media (max-width: App.$small-screen-limit) {
    #comp-demo-div {
        .global-transform-div {
            width: 100%;
        }

        #demo2-charts {
            flex-direction: column !important;
            width: fit-content;

            #demo2-chart {
                .canvas-container {
                    flex-direction: column;
                    align-items: center;

                    .canvas-wrapper {
                        .chartitle {
                            text-align: center;
                            margin: 0 auto 0.5rem;
                            grid-column: 1 / 5;
                        }

                        &#right-canvas {
                            grid-template-columns: 13vw 70vw 8vw 5vw !important;

                            canvas {
                                width: 70vw !important;
                                height: 52vw !important;
                            }

                            .chartYTicks:first-of-type {
                                margin: 0;
                            }

                            .chartYTicks {
                                width: 100% !important;
                            }
                        }

                        .x-tick-mark:not(:nth-child(2n+1)) {
                            .x-tick-mark-label {
                                display: none !important;
                            }
                        }

                        .y-axis-label {
                            height: max-content;
                        }
                    }
                }
            }
        }

        #demo2-controls {
            .comparison-row-div {
                flex-direction: column;
                padding: 0;
                gap: 0;

                .left-control-grid {
                    width: 100%;
                    padding: 1rem;
                    border-bottom: 1px solid rgba(0 0 0 / 0.15);

                    .first-buttons-column {
                        grid-row: 1;
                        gap: 0;
                        width: fit-content;

                        .show-checkbox {
                            padding: 0;
                            margin: 0;
                        }
                    }

                    .file-container {
                        grid-column: 1 / 3;
                    }

                    #range-container {
                        grid-column: 1 / 3;
                        padding-bottom: 0;
                    }
                }
            }

            #process-container {
                border: none !important;
                padding: 1rem !important;
                width: 100% !important;

                .signals-grid {
                    grid-template-columns: repeat(6, 1fr) !important;

                    .choose-columns-button {
                        grid-column: 2 / 6 !important;
                    }

                    .signal-cell {
                        grid-column: 1 / 3 !important;
                        padding-left: 1ch;
                    }

                    .signal-label {
                        grid-column: 1 / 3;
                    }

                    .offset-label {
                        grid-column: 3 / 5;
                    }

                    .scale-label {
                        grid-column: 5 / 7;
                    }

                    #reset-button {
                        margin: 1rem 0 0 0 !important;
                        grid-column: 1 / 7 !important;
                        grid-row: unset !important;
                        order: 5;
                    }

                    #sfc-header {
                        border-top: 1px solid rgba(0 0 0 / 0.15);
                        margin-top: 1rem !important;
                        margin-bottom: 0;
                        order: 2;
                        grid-column: 1 / 7 !important;
                        line-height: 2.0rem;
                        padding-top: 0.5rem !important;
                    }

                    .min-sfc-label {
                        order: 3;
                        grid-row: unset !important;
                    }

                    .max-sfc-label {
                        order: 4;
                        grid-row: unset !important;
                    }

                    span.min-sfc-label, span.max-sfc-label {
                        grid-column: 1 / 3 !important;
                        justify-self: left !important;
                        padding-left: 1ch;
                    }

                    label.min-sfc-label, label.max-sfc-label {
                        grid-column: 4 / 7 !important;
                        justify-self: left !important;
                    }

                    .MuiDivider-vertical {
                        display: none;
                    }
                }
            }
        }
    }
}