@use 'App.module';

.light-box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 1;

    &.show {
        opacity: 1;
        pointer-events: all;
    }

    .dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 10px;
        border: 0 solid black;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 16px 4px;
        margin: 0;
        padding: 1rem 3rem;
        pointer-events: all;
    }
}
