@use 'App.module';

.light-box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 2000;
    backdrop-filter: blur(1px);

    &.show {
        opacity: 1;
        pointer-events: all;
    }

    .dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 10px;
        border: 0 solid black;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 16px 4px;
        margin: 0;
        padding: 1rem 3rem;
        pointer-events: all;

        h2 {
            line-height: 0.8rem;
        }
        .form-buttons {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            justify-content: center;

            button {
                margin-top: 1rem;
                width: 13ch;
                text-align: center;
            }

            .ok-button {
                border: none;
                color: white;
                box-shadow: rgba(0 0 0 / 0.4) 0 0 4px;
                transition: all 0.2s;

                &.enabled {
                    background: App.$primary-color;

                    &:hover {
                        background: App.$primary-color-medium;
                    }
                }

                &.disabled {
                    background: var(--button-border);
                    cursor: default;
                }
            }
        }
    }
}

@media (max-width: App.$small-screen-limit) {
    .light-box .dialog h2 {
        line-height: initial;
    }

    .light-box .dialog .checkbox-list {
        line-height: initial;
        align-items: flex-start;

        div {
            display: flex;
            align-items: center;
            column-gap: 0.3rem;
        }
    }
}
