@use 'App.module';

#encoding-demo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .charts {
        width: 100%;
        gap: 4vw;
    }

    h1 {
        margin-bottom: 0.5rem;
    }

    #presets-container {
        width: auto;

        .preset-list-container, #preset-list {
            width: 100%;
        }
    }

    @media (max-width: 1280px) {
        .text-controls {
            flex-direction: column !important;
        }
    }

    @media (max-width: 1080px) {
        .chartitle {
            font-size: 2.2vw;
        }
    }

    @media (min-width: 1081px) {
        #process-container, .vert-control-wrapper {
            height: 100%;
        }
    }
}

@media (max-width: App.$small-screen-limit) {

    #encoding-demo {
        .charts {
            flex-direction: column !important;
            align-items: center !important;
            gap: 0;

            .chart {
                align-self: unset !important;

                .canvas-container {
                    .canvas-wrapper {
                        .chartYTicks {
                            width: 100% !important;
                        }

                        .x-tick-mark:not(:nth-child(2n+1)) {
                            .x-tick-mark-label {
                                display: none !important;
                            }
                        }

                        &#left-canvas {
                            grid-template-columns: 5vw 8vw 70vw 13vw !important;
                        }

                        &#right-canvas {
                            grid-template-columns: 13vw 70vw 8vw 5vw !important;

                            .chartYTicks:first-of-type {
                                margin: 0;
                            }

                            .y-axis-label {
                                height: max-content;
                            }

                            .chartitle {
                                text-align: center;
                                margin: 1rem auto 0.5rem;
                                grid-column: 1 / 5;
                            }
                        }

                        canvas {
                            width: 70vw !important;
                            height: 52vw !important;
                        }

                        .chartitle {
                            font-size: 1.5rem !important;

                            &:first-of-type {
                                margin-top: 0;
                            }
                        }

                        .chart-x-axis-name {
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }

        .controls {
            flex-direction: column;
            gap: 0;

            .vert-control-wrapper {
                width: 100%;

                &:nth-of-type(1), #first-control-row, .control-row {
                    gap: 0;

                    .separator {
                        content: '';
                        position: absolute;
                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                        bottom: 0;
                        left: 1rem;
                        width: calc(100% - 2rem);
                    }

                    // All controls
                    .file-container, .position-container, #range-container, #presets-container, #process-container {
                        box-shadow: none;
                        border-left: 1px solid rgba(0, 0, 0, 0.12);
                        border-right: 1px solid rgba(0, 0, 0, 0.12);
                    }

                    // All controls but first and last
                    .file-container, #range-container, #presets-container {
                        border-radius: 0;
                        position: relative;
                    }

                    .position-container, .file-container, #range-container {
                        &:after {
                            @extend .separator
                        }
                    }

                    // First control
                    .position-container {
                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        position: relative;
                        display: grid;
                        grid-template-columns: min-content auto;
                        grid-column-gap: 0.5rem;

                        h3 {
                            grid-column: 1 / 3;
                            grid-row: 1;
                        }

                        button {
                            grid-column: 1;
                            grid-row: 2;
                        }

                        .MuiSlider-root {
                            grid-column: 2;
                            grid-row: 2;
                        }
                    }

                    #range-container {
                        .text-controls {
                            flex-direction: row !important;
                        }
                    }

                    // Last control
                    #process-container {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                }

                #process-container {
                    width: 100%;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    padding: 1rem;

                    .encoder-switch {
                        display: grid;
                        grid-auto-rows: min-content min-content;
                        gap: 0.1rem 0.5rem;
                        margin: 0;

                        .encoding-label {
                            grid-column: 1;
                        }

                        .MuiSwitch-root {
                            rotate: 90deg;
                            grid-column: 2;
                            grid-row: 1 / 3;
                            align-self: center;
                        }
                    }

                    .signals-grid {
                        span.input-label {
                            width: 100%;
                        }

                        label.input-label {
                            width: fit-content;

                            input {
                                margin-left: 0;
                                justify-self: left;
                                width: 10ch
                            }
                        }

                        .show-transforms-label span {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}