@use 'buttons/buttons';
@use 'App.module';
@use 'sass:color';

#open-feedback-win-btn {
    @extend .no-border-button;

    background: #4385dc;
    position: fixed;
    right: 0;
    bottom: 10rem;
    color: white;
    writing-mode: sideways-lr;
    height: fit-content;
    padding: 0.5rem 0.4rem;
    width: fit-content;
    min-width: unset;
    border-radius: 6px 0 0 6px;
    z-index: 1;
    translate: 20% 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px 1px;

    &:hover {
        background: App.$primary-color-medium;
        translate: 0;
    }
}

.dialog {
    @extend .flex-display;
    padding: 1.7rem 2rem !important;
    flex-direction: column;
    gap: 0.2rem;

    h2 {
        margin: 0.5rem;
    }

    #feedback-dialog-div {
        @extend .flex-display;
        flex-direction: column;
        gap: 0.5rem;

            form {
                @extend .flex-display;
                flex-direction: column;
                width: 100%;
                gap: 0.2rem;

                #name-email-div {
                    @extend .flex-display;
                    gap: 1rem;
                    width: 100%;

                    .MuiFormControl-root {
                        flex: 1;

                        label {
                            @extend .button-text;
                            font-size: 0.8rem;
                            background-color: white;
                            margin-top: -0.05rem;
                            padding: 0 0.6rem;
                            margin-bottom: 0;
                            height: min-content;
                            line-height: 0.8rem;
                        }

                        .MuiInputBase-input {
                            padding: 0.2rem 0.7rem !important;
                            width: 100%;
                            height: max-content;
                            font-size: 13px;
                        }

                        legend {
                            display: none !important;
                        }

                        input:-webkit-autofill,
                        input:-webkit-autofill:focus {
                            -webkit-box-shadow: 0 0 0 1000px white inset;
                        }
                    }
                }

                #feedback-type-radio-buttons {
                    margin-top: -0.3rem;

                    .MuiRadioGroup-root {
                        gap: 2rem;

                        .radio-button {
                            span:nth-of-type(2) {
                                @extend .button-text;

                                line-height: 0;
                                font-size: 0.70rem;
                                color: var(--text-color-light);
                                transition: all 0.2s;
                            }

                            &.selected {
                                span:nth-of-type(2) {
                                    color: black;
                                }
                            }
                        }
                    }
                }

                .MuiTextField-root {
                    width: 100%;
                    font-size: 13px;
                    color: var(--text-color-light);

                    fieldset {
                        left: 0;
                    }
                }

                .form-buttons button {
                    margin-top: 0.5rem;
                }
            }
    }
}

