@use 'buttons/buttons';
@use 'App.module';
@use 'sass:color';

#open-feedback-win-btn {
    @extend .no-border-button;

    background: #4385dc;
    position: fixed;
    right: 0;
    bottom: 10rem;
    color: white;
    writing-mode: sideways-lr;
    height: fit-content;
    padding: 0.5rem 0.4rem;
    width: fit-content;
    min-width: unset;
    border-radius: 6px 0 0 6px;
    z-index: 1;
    translate: 20% 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px 1px;

    &:hover {
        background: App.$primary-color-medium;
        translate: 0;
    }
}

#feedback-dialog-div {
    form {
        @extend .flex-display;
        flex-direction: column;

        #feedback-type-radio-buttons {
            .MuiRadioGroup-root {
                gap: 2rem;

                .radio-button {
                    span:nth-of-type(2) {
                        @extend .button-text;

                        line-height: 0;
                        font-size: 0.70rem;
                        color: var(--text-color-light);
                        transition: all 0.2s;
                    }

                    &.selected {
                        span:nth-of-type(2) {
                            color: black;
                        }
                    }
                }
            }
        }

        .MuiTextField-root {
            width: 100%;
        }
    }
}

