@use 'App.module';

.legend-container {
    position: relative;
    grid-column: 3;
    grid-row: 5;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-family: sans-serif;

    .legend-msg {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -210%;
        text-transform: uppercase;
        font-size: 0.7rem;
        opacity: 0;
        transition: opacity 0.3s;
        background: white;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px 1px;
        padding: 0.7rem 0.4rem;
        height: fit-content;
        letter-spacing: 0.07rem;
        line-height: initial !important;

        &.show {
            opacity: 1;
        }
    }

    .legend {
        @extend .chart-sub-control;

        border-radius: 5px;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        cursor: pointer;
        transition: all 0.2s;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1rem;
        max-width: App.$canvas-width;
        align-items: center;
        height: fit-content;
        width: fit-content !important;
        text-transform: initial;
        flex: none;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px 1px;
        }

        p {
            margin: 0 !important;
            line-height: 0.5rem;
            font-size: 0.9rem;
            display: flex;
            flex-direction: row;
            gap: 0.2rem;
            align-items: center;
            justify-self: center;
        }
    }
}

@media (max-width: App.$small-screen-limit) {
    .legend-container .legend {
        max-width: none;
    }
}