@use 'App.module';

.topnav {
    overflow: hidden;
    background-color: var(--text-color);
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: rgba(0 0 0 / 0.2) 0 0.3125rem 0.3125rem 0.0625rem;
    display: flex;
    justify-content: center;
}

.topnav .link-container {
    width: 100%;
}

.topnav .link-container div {
    float: left;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.06rem;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    gap: 0.4rem;

    &.hide {
        display: none;
    }
}

.topnav .link-container div:hover {
    background-color: var(--text-color-light);
}


.material-symbols-outlined {
 font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
}

@media (max-width: App.$small-screen-limit) {
    .topnav {
        padding: 0 0.5rem;
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
        top: unset;
        box-shadow: rgba(0 0 0 / 0.2) 0 -0.08rem 0.2rem 0.15rem;
        transition: bottom 0.3s;
    }

    .topnav.hide {
        bottom: -100%
    }

    .topnav.top-pos {
        box-shadow: rgba(0 0 0 / 0.2) 0 -0.08rem 0.2rem 0.05rem;
    }

    .topnav .link-container {
        display: flex;
        justify-content: center;
    }

    .topnav .link-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.60rem;
        padding: 0.60rem 0;
        width: 4.3rem;
        gap: 0.2rem;

        svg {
            margin: 0;
        }
    }
}