@use 'App.module';

.topnav {
    overflow: hidden;
    background-color: var(--text-color);
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;

    .link-container {
        @extend .flex-display;

        width: 100%;
        box-shadow: rgba(0 0 0 / 0.2) 0 0.3125rem 0.3125rem 0.0625rem;

        .navlink-div:hover {
            background-color: var(--text-color-light);
        }
    }

    .link-container .navlink-div {
        float: left;
        text-align: center;
        padding: 0.875rem 1rem;
        text-decoration: none;
        font-size: 1.06rem;
        color: white;
        transition: background-color 0.3s;
        cursor: pointer;
        font-weight: 500;
        display: flex;
        gap: 0.4rem;

        &.hide {
            display: none;
        }
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }
}

@media (min-width: App.$small-screen-limit + 1) {
    #hamburger-menu-a, #nav-submenu-div {
        display: none;
    }
}

@media (max-width: App.$small-screen-limit) {
    .topnav {
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
        top: unset;
        transition: bottom 0.3s;
        z-index: 2500;
        background-color: transparent;
        box-shadow: rgba(0 0 0 / 0.2) 0 -0.08rem 0.2rem 0.15rem;

        &.hide {
            bottom: -100%
        }

        &.top-pos {
            box-shadow: rgba(0 0 0 / 0.2) 0 -0.08rem 0.2rem 0.05rem;
        }

        .link-container {
            display: flex;
            justify-content: center;
            z-index: 100;
            background-color: var(--text-color);

            #contact-link {
                display: none;
            }
        }
    }

    .topnav .link-container, #nav-submenu-div {
        .navlink-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.60rem;
            padding: 0.60rem 0;
            width: 4.3rem;
            gap: 0.2rem;
            color: white;

            svg {
                margin: 0;
            }
        }
    }

    #nav-submenu-div {
        background-color: var(--text-color);
        position: fixed;
        right: 0;
        padding-bottom: 4.5rem;
        bottom: 0;
        z-index: 2200;
        box-shadow: rgba(0 0 0 / 0.2) -0.08rem -0.08rem 0.2rem 0.15rem;
        color: white;
        flex-direction: row;
        display: flex;
        border-radius: 6px 0 0 0;
        transition: all 0.3s;

        &.hide {
            right: -100%;
        }
    }
}