@use 'App.module';

.MuiListItemButton-root {
    border: 1px solid var(--button-active) !important;
    border-radius: 6px !important;
    padding: 0 0.5rem !important;
    margin: 0 !important;
    background-color: white !important;
    display: flex !important;
    justify-content: space-between !important;
    width: max-content !important;
    transition: all 0.2s !important;

    &.Mui-selected {
        background-color: var(--primary-color-light) !important;
    }

    &:hover:not(&.Mui-selected) {
        background-color: var(--light-gray) !important;
        cursor: pointer;
    }

    .MuiSvgIcon-root {
        width: 1.0rem !important;
        height: 1.0rem !important;
        padding: 0;
    }
}

.MuiListItem-root {
    padding: 0.1rem 0 !important;
    max-width: 18rem;
}

.MuiList-root {
    padding-top: 0 !important;
}

.MuiListItemText-root {
    margin: 0 !important;
}

.MuiTextField-root {
    height: 100% !important;
    padding: 0.3rem 0 !important;

    fieldset {
        height: 100% !important;
        padding: 0.4rem;
        left: -3px;
    }

    * {
        height: fit-content !important;
        font-size: 0.8333rem !important;
    }
}

.MuiInputBase-input {
    padding: 0 !important;
}

#presets-container {
    width: fit-content;
    flex: none;
}

.preset-list-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 750px) {
        #preset-list {
            grid-template-columns: repeat(1, 1fr) !important;
            max-width: 15rem;
        }
    }

    #preset-list {
        display: grid;
        width: 13rem;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0.5rem;
        $label-width: 3.0rem;

        .MuiIconButton-root {
            padding: 0.3rem;
        }

        #preset-labels {
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: 0.5rem;
            padding: 0 0.5rem !important;

            * {
                flex: unset;
            }
        }

        #start-label, #end-label {
            line-height: 1rem !important;
            text-transform: uppercase;
            letter-spacing: 0.02rem;
            position: relative;
            font-size: 0.6rem;
            font-weight: 700;
            margin: 0;
            width: $label-width;
            display: block;
            text-align: center;
        }

        span {
            margin: 0;
            line-height: 0 !important;
        }

        .preset-item-text {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;

            p {
                display: flex;
                flex-direction: column;
                align-items: center;
                line-height: 1.4rem;
                margin: 0.1rem 0;
                font-size: 0.8333rem;
                text-align: center;
            }

        }
    }

    #preset-button-panel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        .preset-button {
            @extend .blue-border-button;
            margin-top: 0.5rem;
            color: var(--text-color-light);

            &.Mui-disabled {
                color: var(--button-active);
            }
        }

        #add-preset-button {
            @extend .preset-button;
            border-width: 2px;
            grid-column: 1 / 3;
            grid-row: 1;
            width: 100%;
        }

        #save-preset-button, #load-preset-button {
            @extend .no-border-button;
            @extend .preset-button;
            border-width: 0;
            grid-row: 2;
        }

        .file-input {
            display: none;
        }
    }
}



