@use 'App.module';

#select-columns-div {
    .checkbox-list {
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.2rem;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;

        button {
            margin-top: 1rem;
            width: 13ch;
            text-align: center;
        }

        .ok-button {
            border: none;
            color: white;
            box-shadow: rgba(0 0 0 / 0.4) 0 0 4px;
            transition: all 0.2s;

            &.enabled {
                background: App.$primary-color;

                &:hover {
                    background: App.$primary-color-medium;
                }
            }

            &.disabled {
                background: var(--button-border);
                cursor: default;
            }
        }
    }
}
