@use 'App.module';

#select-columns-div {
    .checkbox-list {
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.2rem;
    }
}
