@use '../App.module';

.button {
    padding: 0 0.5rem;
    height: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    background-color: white;
    border: 2px solid var(--text-color-light);
    border-radius: 6px;
    transition: all 0.2s;
    font-size: 0.6rem;
    font-weight: 700;
    color: var(--text-color-light);

    &:hover {
        background-color: var(--light-gray);
        cursor: pointer;
    }

    &:active {
        background-color: var(--button-active);
    }
}

.link-button {
    @extend .button;

    background-color: transparent;

    &:active {
        background-color: initial;
    }

    a {
        font-weight: 700;
        color: var(--text-color-light);

        &:hover {
            color: App.$primary-color-dark;
        }

        &:active {
            color: App.$primary-color;
        }
    }
}