@use '../App.module';

.button-text {
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-size: 0.6rem;
    font-weight: 700;
}

.button {
    @extend .button-text;
    padding: 0 0.5rem;
    height: 1.8rem;
    background-color: white;
    border: 2px solid var(--text-color-light);
    border-radius: 6px;
    transition: all 0.2s;
    color: var(--text-color-light);

    &:hover {
        background-color: var(--light-gray);
        cursor: pointer;
    }

    &:active {
        background-color: var(--button-active);
    }
}

.blue-border-button {
    @extend .button;
    border-color: App.$primary-color-border;

    &:hover {
        border-color: App.$primary-color-border-hover;
    }
}

.gray-border-button {
    @extend .button;
    border-color: var(--button-active);
}

.no-border-button {
    @extend .button;
    border-width: 0;
}

.link-button {
    @extend .button;

    background-color: transparent;

    a {
        font-weight: 700;
        color: var(--text-color-light);
    }

    &:hover:not(:active) {
        a {
            color: App.$primary-color-dark;
        }
    }

    &:active {
        background-color: initial;

        a {
            color: App.$primary-color-medium;
        }
    }
}