@use "../App.module.css";
@use 'buttons';

.play-button {
    @extend .button;
    @extend .button-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;

    span {
        margin: 0;
        font-size: 1.4rem;
        color: var(--text-color-light);
    }

    .material-symbols-outlined {
        font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 22
    }
}