@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:export {
  primaryColor: #006fd5;
  primaryColorLight: #b9e0ff;
  primaryColorMedium: #2699ff;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 3.5rem;
  font-weight: 900;
  font-size: 3rem;
  font-family: Inter, sans-serif;
  width: fit-content;
  align-self: center;
  position: relative;
}
h1:hover .section-hash-span, h1 .section-hash-span:hover {
  opacity: 1;
}
h1 .section-hash-span {
  position: absolute;
  color: #63b7ff;
  translate: -1.2ch 0;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 0.2rem;
}
h1 .section-hash-span:hover {
  color: #2699ff;
}
h1 .section-hash-span:active {
  color: #006fd5;
}

h2 {
  letter-spacing: -0.07rem;
  color: var(--text-color-light);
  text-transform: initial;
}

h3 {
  line-height: 0;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-size: 0.6rem;
  font-weight: 700;
}

.button-text, .upload-button-container p, .button, .link-button, .no-border-button, .gray-border-button, .blue-border-button, .controls #process-container #reset-button {
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-size: 0.6rem;
  font-weight: 700;
}

.button, .link-button, .no-border-button, .gray-border-button, .blue-border-button, .controls #process-container #reset-button {
  padding: 0 0.5rem;
  height: 1.8rem;
  background-color: white;
  border: 2px solid var(--text-color-light);
  border-radius: 6px;
  transition: all 0.2s;
  color: var(--text-color-light);
}
.button:hover, .link-button:hover, .no-border-button:hover, .gray-border-button:hover, .blue-border-button:hover, .controls #process-container #reset-button:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}
.button:active, .link-button:active, .no-border-button:active, .gray-border-button:active, .blue-border-button:active, .controls #process-container #reset-button:active {
  background-color: var(--button-active);
}

.blue-border-button, .controls #process-container #reset-button {
  border-color: rgba(25, 118, 210, 0.5019607843);
}
.blue-border-button:hover, .controls #process-container #reset-button:hover {
  border-color: #1976d2;
}

.gray-border-button {
  border-color: var(--button-active);
}

.no-border-button {
  border-width: 0;
}

.link-button {
  background-color: transparent;
}
.link-button a {
  font-weight: 700;
  color: var(--text-color-light);
}
.link-button:hover:not(:active) a {
  color: #004c93;
}
.link-button:active {
  background-color: initial;
}
.link-button:active a {
  color: #2699ff;
}

html {
  --text-color: #3d3d3d;
  --text-color-light: #575757;
  --legend-border: #a8a8a8;
  --button-border: #7a7a7a;
  --light-gray: #e8e8e8;
  --button-active: #d3d3d3;
  --input-border: #c3c3c3;
  --primary-color: $primary-color;
  --primary-color-medium: #2699ff;
  --primary-color-light: $primary-color-light;
}

@media (max-width: 800px) {
  #root {
    width: fit-content !important;
  }
  #root #main {
    width: fit-content !important;
  }
  #root #main #encoding-demo {
    width: fit-content;
  }
}
body {
  width: 100%;
}
body.modal-open {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  font-family: Inter, sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}

#main, .link-container, .tabcontent {
  max-width: 1200px;
}

@media (max-width: 1200px) {
  #main, .tabcontent {
    padding: 0 5vw !important;
  }
}
.charts {
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  gap: 2rem;
}
.charts.paper-mode {
  font-family: "Times New Roman", Times, serif;
}
.charts#demo2-charts {
  width: 100%;
}
.charts#demo2-charts .chart, .charts#demo2-charts .chart .canvas-container, .charts#demo2-charts .chart .canvas-container .canvas-wrapper {
  width: 100%;
}
.charts#demo2-charts .canvas-wrapper {
  grid-template-columns: min-content auto min-content min-content !important;
}
.charts .chart {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 0;
  align-self: flex-start;
}
.charts .chart .chartitle {
  margin: 0.5rem;
  white-space: nowrap;
}
.charts .chart .canvas-container {
  text-transform: uppercase;
  font-size: 1rem;
  gap: 0;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.charts .chart .canvas-container p {
  line-height: 0;
  margin-top: 2rem;
}
.charts .chart .canvas-container .canvas-wrapper {
  display: grid;
  grid-auto-rows: auto;
  gap: 0;
}
.charts .chart .canvas-container .canvas-wrapper h2 {
  grid-column: 3;
  grid-row: 1;
  color: var(--text-color-light);
  margin: 1rem 0 0.5rem;
  text-transform: initial;
}
.charts .chart .canvas-container .canvas-wrapper h2.paper-mode {
  font-weight: 900;
}
.charts .chart .canvas-container .canvas-wrapper .y-axis-label {
  width: fit-content;
  height: fit-content;
  writing-mode: tb;
  rotate: 180deg;
  grid-row: 2;
  grid-column: 1;
  align-self: center;
}
.charts .chart .canvas-container .canvas-wrapper .chart-x-axis-name, .charts .chart .canvas-container .canvas-wrapper .y-axis-label {
  font-size: 0.7rem;
  letter-spacing: 0.09rem;
}
.charts .chart .canvas-container .canvas-wrapper#left-canvas {
  grid-template-columns: auto auto auto;
}
.charts .chart .canvas-container .canvas-wrapper#right-canvas {
  grid-template-columns: auto auto auto auto;
}
.charts .chart .canvas-container .canvas-wrapper#right-canvas .chartYTicks {
  grid-column: 1;
}
.charts .chart .canvas-container .canvas-wrapper#right-canvas canvas, .charts .chart .canvas-container .canvas-wrapper#right-canvas h2, .charts .chart .canvas-container .canvas-wrapper#right-canvas .chart-x-axis-name, .charts .chart .canvas-container .canvas-wrapper#right-canvas .chartXTicks {
  grid-column: 2;
}
.charts .chart .canvas-container .canvas-wrapper#right-canvas .y-axis-label {
  grid-column: 4;
  grid-row: 2;
}
.charts .chart .canvas-container .canvas-wrapper canvas {
  grid-column: 3;
  grid-row: 2;
  height: 21vw;
  width: 28.35vw;
  border: 1px solid black;
}
.charts .chart .canvas-container .canvas-wrapper canvas#demo2-canvas {
  width: 100%;
}
.charts .chart .canvas-container .canvas-wrapper .x-tick-mark-label, .charts .chart .canvas-container .canvas-wrapper .y-tick-mark-label {
  font-family: Inter, sans-serif;
  font-size: 0.7rem;
}
.charts .chart .canvas-container .canvas-wrapper .chartYTicks {
  width: fit-content;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  grid-column: 2;
  padding: calc(0.84vw - 0.4rem) 0;
  grid-row: 2;
}
.charts .chart .canvas-container .canvas-wrapper .chartYTicks#right-axis {
  grid-column: 3;
  align-items: flex-start;
}
.charts .chart .canvas-container .canvas-wrapper .chartYTicks .y-tick-mark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  gap: 3px;
}
.charts .chart .canvas-container .canvas-wrapper .chartYTicks .y-tick-mark .y-tick-line {
  margin: 0;
  border-top: 1px solid black;
  height: 1px;
  width: 5px;
}
.charts .chart .canvas-container .canvas-wrapper .chartXTicks {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 0 0.84vw;
  grid-column: 3;
}
.charts .chart .canvas-container .canvas-wrapper .chartXTicks .x-tick-mark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: fit-content;
}
.charts .chart .canvas-container .canvas-wrapper .chartXTicks .x-tick-mark .x-tick-line {
  margin: 0;
  border-left: 1px solid black;
  height: 5px;
  width: 1px;
}
.charts .chart .canvas-container .canvas-wrapper .chartXTicks .x-tick-mark .x-tick-mark-label {
  top: 0.3rem;
  position: absolute;
}
.charts .chart .canvas-container .canvas-wrapper .chart-x-axis-name {
  grid-column: 3;
}

.encoder-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  gap: 0.5rem;
  grid-column: 2;
}
.encoder-switch p {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit !important;
  margin: 0 !important;
  text-transform: uppercase;
}
.encoder-switch p.small {
  font-size: 0.6rem;
  letter-spacing: 0.02rem;
  font-weight: 700;
}
.encoder-switch .MuiSwitch-root {
  margin: 0;
}
.encoder-switch .encoding-label {
  transition: all 0.2s;
}
.encoder-switch .encoding-label.checked {
  opacity: 1;
}
.encoder-switch .encoding-label.unchecked {
  opacity: 0.5;
}

.chart-sub-control {
  padding: 0.5rem 1rem;
}

input[type=number] {
  border-radius: 5px;
  border: 1px solid var(--input-border);
  padding: 0.1rem 0.2rem;
}

.controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  --gap: 20px;
  gap: var(--gap);
}
.controls #sfcrangecontrol {
  flex: 1 1 7rem;
}
.controls #sfcrangecontrol .text-controls {
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.controls #sfcrangecontrol label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.controls #sfcrangecontrol label input {
  width: 15ch;
}
.controls #process-container {
  height: fit-content;
  flex: none;
}
.controls #process-container h3 {
  margin-bottom: initial;
}
.controls #process-container .signals-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(2, min-content);
  gap: 0.2rem;
  grid-auto-rows: auto;
}
.controls #process-container .signals-grid .MuiDivider-root {
  grid-column: 1/4;
  height: 1rem;
}
.controls #process-container .signals-grid .MuiDivider-root #sfc-header {
  margin: 0;
  line-height: initial;
  padding: 0.1rem 0 0;
}
.controls #process-container .signals-grid .signal-cell {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.controls #process-container .signals-grid .signal-cell .color-line {
  display: flex;
  width: 32px;
  max-width: 32px;
  height: 4px;
  padding: 0;
  margin-right: 3px;
}
.controls #process-container .signals-grid .signal-cell .signal-name {
  font-size: 0.9rem;
  padding-right: 2rem;
  max-width: 22ch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.controls #process-container .signals-grid .signal-label {
  grid-column: 1;
}
.controls #process-container .signals-grid .offset-label {
  grid-column: 2;
}
.controls #process-container .signals-grid .scale-label {
  grid-column: 3;
}
.controls #process-container .signals-grid .encoder-label {
  margin-top: 0.7rem !important;
  align-items: flex-start;
  padding-top: 0.2rem;
}
.controls #process-container .signals-grid .encoder-switch {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.controls #process-container .signals-grid .bits-label {
  text-align: center;
}
.controls #process-container .signals-grid span.bits-label, .controls #process-container .signals-grid span.show-transforms-label, .controls #process-container .signals-grid span.encoder-label {
  grid-column: 1;
  text-align: left;
  padding-top: 0.2rem;
}
.controls #process-container .signals-grid label.bits-label, .controls #process-container .signals-grid div.show-transforms-label, .controls #process-container .signals-grid .encoder-switch {
  grid-column: 2;
  text-align: left;
}
.controls #process-container .signals-grid .bits-label, .controls #process-container .signals-grid .show-transforms-label, .controls #process-container .signals-grid .encoder-label {
  min-height: 1.3rem;
}
.controls #process-container .signals-grid div.show-transforms-label {
  display: flex;
  justify-content: left;
  width: 100%;
  pointer-events: none;
  margin-left: -0.2rem;
}
.controls #process-container .signals-grid div.show-transforms-label .MuiButtonBase-root {
  aspect-ratio: 1;
  height: fit-content;
  width: fit-content;
  pointer-events: auto;
}
.controls #process-container .signals-grid .variant-full.min-sfc-label {
  margin-top: 0.7rem;
}
.controls #process-container .signals-grid span.bits-label {
  padding-top: 0.2rem;
}
.controls #process-container .signals-grid span.min-sfc-label, .controls #process-container .signals-grid span.max-sfc-label {
  grid-column: 1;
  text-align: left;
  display: flex;
  align-items: center;
}
.controls #process-container .signals-grid label.min-sfc-label, .controls #process-container .signals-grid label.max-sfc-label {
  grid-column: 2/4;
  display: flex;
}
.controls #process-container .signals-grid label.min-sfc-label input, .controls #process-container .signals-grid label.max-sfc-label input {
  width: 15ch;
}
.controls #process-container .signals-grid #sfc-header {
  margin-top: 1.7rem;
  grid-column: 1/4;
}
.controls #process-container .signals-grid input {
  width: 9ch;
  margin: 0 0.5rem;
}
.controls #process-container .signals-grid .empty-row {
  content: " ";
  grid-column: 1/4;
}
.controls #process-container #reset-button {
  margin-top: 1rem;
  grid-column: 1/4;
  width: fit-content;
  justify-self: center;
  padding: 0 5rem;
}
.controls #process-container #reset-button.Mui-disabled {
  color: var(--button-active);
}
.controls .vert-control-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--gap);
}
.controls .vert-control-wrapper:nth-of-type(2) {
  height: 100%;
  justify-content: flex-start;
  width: fit-content;
}
.controls .vert-control-wrapper .control-row {
  display: flex;
  gap: var(--gap);
  width: 100%;
  justify-content: flex-end;
}
.controls .vert-control-wrapper .control-row #range-container {
  height: fit-content;
  flex: 1 1 50rem;
  max-width: none;
}
.controls .vert-control-wrapper .control-row #range-container .input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
@media (max-width: 1080px) {
  .controls .vert-control-wrapper .file-container, .controls .vert-control-wrapper .position-container {
    width: 100% !important;
    border-radius: 10px;
    border: 0 solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px 1px;
    padding: 1.2rem 1.8rem;
  }
  .controls .vert-control-wrapper .file-container {
    order: 2;
  }
  .controls .vert-control-wrapper .control-row {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
  .controls .vert-control-wrapper .control-container {
    max-height: fit-content;
  }
  .controls .vert-control-wrapper #range-container, .controls .vert-control-wrapper #presets-container {
    max-width: 100%;
    width: 100%;
  }
  .controls .vert-control-wrapper #presets-container {
    width: fit-content;
  }
  .controls .vert-control-wrapper #first-control-row {
    flex-direction: column !important;
    border: none;
    padding: 0;
    box-shadow: none;
  }
}
.controls .vert-control-wrapper #first-control-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: initial;
  gap: var(--gap);
}
.controls .vert-control-wrapper #first-control-row .file-container {
  width: 10rem;
}
.controls .vert-control-wrapper #first-control-row .position-container {
  flex: 1 1 auto;
  width: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.control-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 0 solid black;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px 1px;
  padding: 1.2rem 1.8rem;
  flex: 1 1 27rem;
  justify-content: center;
}
.control-container .input-label {
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.02rem;
  font-weight: 700;
}
.control-container h3 {
  margin-top: 0;
  padding-bottom: 1rem;
  margin-bottom: auto;
}
.control-container > :last-child {
  margin-bottom: auto;
}
@media (max-width: 1280px) {
  .control-container .text-controls {
    align-items: flex-end;
  }
}
.control-container .text-controls {
  display: flex;
  column-gap: 1rem;
  row-gap: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.control-container .text-controls input {
  width: 8ch;
}

.MuiSlider-thumb {
  width: 17px !important;
  height: 17px !important;
}

/* HEADER AND FOOTER */
.footer {
  bottom: 0;
  background-color: var(--text-color);
  color: white;
  text-align: left;
  width: 100%;
  padding: 14px 50px;
}

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh; /* full viewport height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), var(--text-color));
}
.landing-section * {
  padding: 0 1rem;
}
.landing-section img {
  max-width: 17rem; /* adjust size as necessary */
  height: auto;
  margin-bottom: 5px; /* space between logo and text */
  filter: brightness(0) invert(1);
}
.landing-section p {
  color: white;
  max-width: 28rem;
}
.landing-section p.size-warning-p {
  display: none;
}
@media (max-width: 700px) {
  .landing-section p.size-warning-p {
    display: initial;
  }
}

.MuiFab-extended {
  padding: 1.2rem !important;
  border-radius: 50% !important;
  position: fixed !important;
  bottom: 2rem;
  right: 2rem;
  font-size: 0.8rem !important;
  letter-spacing: 0.02rem !important;
  font-weight: 700 !important;
  transition: all 0.5s !important;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
  opacity: 0.85;
  height: 2.5rem !important;
  width: 2.5rem !important;
}
.MuiFab-extended.disabled {
  pointer-events: none;
  opacity: 0;
}

/*TEXT TABS UNDER THE DEMO*/
.tabcontent {
  background-color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.tabcontent#contact {
  display: flex;
  flex-direction: column;
}
.tabcontent#contact.hide {
  display: none;
}

.papers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

.paper-block {
  background-color: var(--light-gray);
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-title {
  margin: 0 0 10px;
}

.paper-description {
  margin: 0 0 15px;
}

.paper-buttons {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

h1 + p {
  margin-top: 0;
}

.footer {
  text-align: center;
}

.footer.hide {
  margin-top: 5rem;
}

.footer #contact-info.hide {
  display: none;
}

/*MOBILE SCREENS*/
@media (max-width: 700px) {
  h1 {
    margin: 1rem 0.5rem 0 !important;
    font-size: 2rem;
  }
  h1 .section-hash-span {
    padding-top: 0.2rem;
    font-size: 1.7rem;
  }
  .demo-description-p {
    margin: 0;
  }
  #root {
    width: 100% !important;
    font-size: 14px;
  }
  #root #main {
    width: 100% !important;
  }
  #root #main #encoding-demo {
    width: 100%;
  }
  #root #main #encoding-demo h1 {
    margin-top: 0;
  }
  #root #main .chartitle {
    font-size: 1.3rem !important;
  }
  #root .tabcontent {
    margin-top: 1.5rem;
  }
  #root .tabcontent .papers-container {
    padding-bottom: 0;
  }
  #root .tabcontent#contact p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .MuiFab-extended {
    bottom: 6rem;
    right: 1rem;
    scale: 1.3;
  }
  .footer {
    margin-top: -1rem;
    padding: 14px 2rem 6rem;
  }
}
.upload-button-container {
  margin-top: auto;
  margin-bottom: auto;
}
.upload-button-container button {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 2px;
}
.upload-button-container .file-input {
  display: none;
}
.upload-button-container p {
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
}

#comparison-demo .upload-button-container {
  margin-top: 1rem;
}

/*# sourceMappingURL=UploadButton.css.map */
