@use '../App.module';
@use 'buttons';

.upload-button-container {
    margin-top: auto;
    margin-bottom: auto;

    button {
        @extend .button;
        @extend .button-shadow;
    }

    .file-input {
        display: none;
    }

    p {
        @extend .button-text;
        text-overflow: ellipsis;
        overflow: hidden;
        border: none;
    }
}

#comparison-demo {
    .upload-button-container {
        margin-top: 1rem;
    }
}
