.upload-button-container {
    margin-top: auto;
    margin-bottom: auto;

    button {
        box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 2px;
    }

    .file-input {
        display: none;
    }

    p {
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 0.6rem;
        text-transform: uppercase;
        letter-spacing: 0.02rem;
        font-size: 0.6rem;
        font-weight: 700;
        color: var(--text-color-light);
    }
}

#comparison-demo {
    .upload-button-container {
        margin-top: 1rem;
    }
}
